<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle of the Alastairs</title>
    <link href='css/crust_style.css' type="text/css" rel="stylesheet"/>
  </head>

<body>
  <h2>Alastair <%= $game.attacker.name %> attacked Alastair <%= $game.victim.name %>...</h2>

  <h1>Another one bites the crust!</h1>

  <img src="http://9buz.com/content/uploads/images/October2014/1964894_10152509147373208_7425655208123780814_n.jpg">

  <h2 class="hp_reduction">
    <%= $game.victim.name %> now has <%= $game.victim.hp %> Pitta points!
  </h2>

  <form action='/play' method='get'>
    <button type='submit'>Keep playing!</button>
  </form>
</body>
</html>
