<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle of the Alastairs</title>
    <link href='css/index_style.css' type="text/css" rel="stylesheet"/>
  </head>

<body>
  <h1>BATTLE OF THE ALASTAIRS</h1>
  <h2 class='battle'>Battling to the death for the last sourdough!</h1>
  <h2 class='upper_crust'>Upper crust sign in!</h2>

  <form action="/names" method="post">
    <label for="player_1_name">
      <strong>ALASTAIR THE FIRST</strong>
      <input type="text" name="player_1_name">
    </label>

    <label for="player_2_name">
      <strong>ALASTAIR THE SECOND</strong>
      <input type="text" name="player_2_name">
    </label>

    <input type="submit" value="Enter game">
  </form>

  <div class='scott_disick'>
    <img src='https://media.tenor.com/images/caeb341677a8af3cafb9661c95feb70c/tenor.gif'>
  </div>
</body>
</html>
