<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='css/play_style.css' type="text/css" rel="stylesheet"/>
    <title></title>
  </head>
  <body>

<div class='vs'>
  <h1>Alastair <%= @player_1_name %> vs. Alastair <%= @player_2_name %></h1>
</div>

<div class='loafers'>
  <h1>Slip on your loafers and get fighting!</h1>
</div>

<div class='battle'>
  <div>
    <img src="https://media.licdn.com/dms/image/C4D03AQH_ymJLBGaYaQ/profile-displayphoto-shrink_800_800/0?e=1530748800&v=beta&t=4zaCV7f0NO-mkoHOhQMUGKnIKRbslCqehLbSzsrJsDk">
    <h2><%= @player_1_name %>: Pit(ta) Points </h2>
  </div>

  <div class='toast'>
    <img src="https://img00.deviantart.net/a474/i/2009/106/0/b/happy_toast_by_skyrunnerwolf.gif">
  </div>

  <div>
    <img src="https://i1.sndcdn.com/avatars-000061284255-pim52q-t500x500.jpg">
    <h2><%= @player_2_name %>: Pit(ta) Points </h2>
  </div>
</div>

<form action='/crust' method='get'>
  <button type='submit'>BREAD PITT</button>
</form>

</body>
</html>
