body {
  text-align: center;
  color: navy;
  font-family: cursive;
}

.vs {
  font-size: 40px;
}

.loafers {
  font-size: 15px;
}

.battle {
  display: flex;
  flex: 50%;
  justify-content: space-around;
  font-size: 20px;
}

.battle img {
  height: 400px;
  border: 10px solid navy;
}

.toast {
  display: flex;
  align-items: center;
}

.toast img {
  height: 100px;
  border: none;
}
